<html lang="es"><head>
   
   <title>Restaurant</title>
   
   <!-- Bootstrap Core CSS -->
   <link href="/public/css/bootstrap.min.css" rel="stylesheet">
   
   <!-- Custom CSS -->
   <link href="/public/css/Style-light.css" rel="stylesheet">
   <div class="container">
    <div class="row">
        <h1 class="choose_store"> Restaurante </h1>
        <hr>
    </div>
    <div class="row tablesrow">
        <a class="link_table" href="pos/selectTable/44">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 1</h2>
            </div>
        </a>

        <a class="link_table" href="pos/selectTable/45">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>
                <img src="/public/img/table.svg" alt="store">
                <h2>Meza 2</h2>

            </div>
        </a>

        <a class="link_table" href="pos/selectTable/46">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>   
                <img src="/public/img/table.svg" alt="store">
                <h2>Meza 3</h2>
            </div>
        </a>

        <a class="link_table" href="pos/selectTable/47">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>
                <img src="/public/img/table.svg" alt="store">
                <h2>Meza 4</h2>
            </div>
        </a>
        <a class="link_table" href="pos/selectTable/48">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>         
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 5</h2>
            </div>
        </a>
        
        <a class="link_table" href="pos/selectTable/49">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 6</h2>

            </div>
        </a>

        <a class="link_table" href="pos/selectTable/50">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 7</h2>
            </div>
        </a>

        <a class="link_table" href="pos/selectTable/51">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>             
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 8</h2>
            </div>
        </a>

        <a class="link_table" href="pos/selectTable/52">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;">
                <span class="badge_table">Libre</span>  
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 9</h2>
            </div>
        </a>

        <a class="link_table" href="pos/selectTable/53">
            <div class="col-sm-2 col-xs-4 tableList" style="background-color: #14e25f;" "="">
                <span class="badge_table">Libre</span>       
                <img src="/public/img/table.svg" alt="store" >
                <h2>Meza 10</h2>
            </div>
        </a>
</html>